@font-face {
    font-family: cloudy;
    src: url("./Cloudy-0W244.ttf");
}
:root {
    /* cirkel-radius */
    

    /* HuisAfstand */ 
   
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height:100dvh;
    overflow: hidden;
}

body {
    margin:0;
    height:100%;
    overflow: hidden;
    background-color: rgb(97, 163, 255);
    transition: 1s all;
}

body + img { 
    position: absolute;
}

nav {
    --navGap: 2em;
    --navPadding:1em;

    display: flex;
    padding:var(--navPadding);
    gap: var(--navGap);
    align-items: center;
    width: 95%;
}

/* Achtergrond */ 

main > input {
    position: absolute;
}


:nth-of-type(1) { --index:  1; }
:nth-of-type(2) { --index:  2; }
:nth-of-type(3) { --index:  3; }
:nth-of-type(4) { --index:  4; }
:nth-of-type(5) { --index:  5; }
:nth-of-type(6) { --index:  6; }
:nth-of-type(7) { --index:  7; }
:nth-of-type(8) { --index:  8; }
:nth-of-type(9) { --index:  9; }

main {
    height:100%;
    overflow:hidden;
}

main > img {
    pointer-events: none;
    user-select: none;
}

nav section {
    display: none;
}

h1 {
    text-align: center;
    font-family: cloudy;
    color: rgb(207, 237, 255);
    font-size: 6rem;
    margin-top: 12rem;
    opacity: 1;
    pointer-events: none;
    user-select: none;
    position: relative;
    z-index: 99;
    text-shadow: white 0 0 0 10;
    transition-delay: 1s;
    transition: 0.5s;
}

main >  img:nth-of-type(1) {
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    width: 70%;
    transition: 0.5s;
}

main >  img:nth-of-type(2) {
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    width: 100%;
    right: 0;
    transition: 0.5s;

}

main >  img:nth-of-type(3) {
    position: absolute;
    bottom: 0;
    opacity: 0.5;
    width: 100%;
    left: 0;
    transition: 0.5s;

}

main >  img:nth-of-type(4) {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 300px;
    z-index: 1;
    animation: movingClouds 25s infinite alternate-reverse; 
    transition: 1s;
}

main >  img:nth-of-type(5) {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    width: 300px;
    z-index: 1;
    animation: movingClouds 30s infinite  alternate-reverse;
    transition: 1s;

}

main >  img:nth-of-type(6) {
    position: absolute;
    top: 30%;
    left: 15%;
    right: 0;
    width: 300px;
    z-index: 1;
    animation: movingClouds 70s infinite  alternate-reverse;
    transition: 1s;

}

main >  img:nth-of-type(7) {
    position: absolute;
    top: 20%;
    right: 20%;
    width: 200px;
    z-index: 1;
    animation: movingClouds 50s infinite  alternate-reverse;
    transition: 1s;

}
main >  img:nth-of-type(8) {
    position: absolute;
    top: 20%;
    right: 90%;
    width: 200px;
    z-index: 1;
    animation: movingClouds 30s infinite  alternate-reverse;
    transition: 1s;

}

main >  img:nth-of-type(9) {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 10%;
    transition: 0.5s all;
    z-index: -1;
    transition: 1s;
}

ul {
    position: relative;
    z-index: 999;
}



/* het huisje */
ul:first-of-type {
    --houseSize: 5em;
    --birdSize:calc( var(--houseSize) - var(--housePadding) * 2);
    --houseTop: calc( var(--navPadding) + var(--houseSize) * .5 );
    --housePadding: 1em; 

    --houseLeft: calc( 
            var(--navPadding) 
            + 
            (var(--i) - .5) * var(--houseSize) 
            + 
            (var(--i) - 1) * var(--navGap) 
        ); 


    position: relative;

    /* background-color: red; */
    background-image: 
        url("./imgs/birdhouse-hover.svg"),
        url("./imgs/birdhouse.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 0 0, contain;

    margin: 0;
    padding: 0;
    list-style: none;
    
    width: var(--houseSize);
    aspect-ratio: 1;

    display: grid;
}

ul:nth-of-type(2) {
    --houseSize: 5em;
    --birdSize:calc( var(--houseSize) - var(--housePadding) * 2);
    --houseTop: calc( var(--navPadding) + var(--houseSize) * .5 );
    --housePadding: 1em; 

    --houseLeft: calc( 
            var(--navPadding) 
            + 
            (var(--i) - .5) * var(--houseSize) 
            + 
            (var(--i) - 1) * var(--navGap) 
        ); 


    position: relative;

    /* background-color: red; */
    background-image: 
        url("./imgs/birdhouse-house_2.svg"),
        url("./imgs/birdhouse-2.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 0 0, contain;

    margin: 0;
    padding: 0;
    list-style: none;
    
    width: var(--houseSize);
    aspect-ratio: 1;

    display: grid;
}

ul:nth-of-type(3) {
    --houseSize: 5em;
    --birdSize:calc( var(--houseSize) - var(--housePadding) * 2);
    --houseTop: calc( var(--navPadding) + var(--houseSize) * .5 );
    --housePadding: 1em; 

    --houseLeft: calc( 
            var(--navPadding) 
            + 
            (var(--i) - .5) * var(--houseSize) 
            + 
            (var(--i) - 1) * var(--navGap) 
        ); 


    position: relative;

    /* background-color: red; */
    background-image: 
        url("./imgs/birdhouse-house_3.svg"),
        url("./imgs/birdhouse-3.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 0 0, contain;

    margin: 0;
    padding: 0;
    list-style: none;
    
    width: var(--houseSize);
    aspect-ratio: 1;

    display: grid;
}


ul:nth-of-type(1) {
    --i:1;
    --radius: 20vmin;
}

ul:nth-of-type(2) {
    --i:2;
    --radius: 27vmin;
}

ul:nth-of-type(3) {
    --i:3;
    --radius: 35vmin;
}

ul:hover {
    background-size: contain;
}


/* vogel wrapper */
li {
    grid-area: 1/1;
    padding: var(--housePadding);
    pointer-events: none;

    display:grid;
}


/* labels and checkboxes */
li label, 
li input {
    appearance: none;
}

li label {
    grid-area: 1/1;
    width: var(--birdSize);
    aspect-ratio: 1;
    pointer-events: all;
    cursor: pointer;
}

li input {
    position: absolute;
    left: -9999em;
}


/* trigger label  */
li label:nth-of-type(1) {
    /* nada */
}

li label:nth-of-type(1):has(:checked) {
    position: absolute;
    left:-9999em;
}


/* vogel label */
ul:first-of-type  label:nth-of-type(2) {
    background-image: url("./imgs/birdie.png");
    background-size: contain;
    background-position: center;
    /* background-color: #f096; */

    display:none;
    cursor: url("https://cdn.custom-cursor.com/db/pointer/32/Gun_Sight.png"), pointer !important;
}


/* Tweede vogel */
ul:nth-of-type(2) label:nth-of-type(2) {
    background-image: url("./imgs/birdie2.png");
    background-size: contain;
    background-position: center;
    /* background-color: #f096; */

    display:none;
    cursor: url("https://cdn.custom-cursor.com/db/pointer/32/Gun_Sight.png"), pointer !important;
}

/* Derde vogel */
ul:nth-of-type(3) label:nth-of-type(2) {
    background-image: url("./imgs/birdie3.png");
    background-size: contain;
    background-position: center;
    /* background-color: #f096; */

    display:none;
    cursor: url("https://cdn.custom-cursor.com/db/pointer/32/Gun_Sight.png"), pointer !important;
}




/* Eerste vogel */ 
ul:first-of-type label:nth-of-type(1):has(:checked) + label:nth-of-type(2) {
    display:block;
    position: relative;
    animation: 
        vliegNaarCirkel 1.5s ease-in forwards,
        rondjesVliegen 10s 1.5s linear infinite,
        dead 2s paused;
    
    user-select: none;

}


ul:first-of-type li label:nth-of-type(1):has(:checked) +  label:nth-of-type(2):has(:checked)  {
    animation-play-state: paused, paused, running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    filter: grayscale(1);
    filter: sepia(1);
    filter: hue-rotate(310deg);
    user-select: none;

}

/* Tweede vogel */ 
ul:nth-of-type(2) label:nth-of-type(1):has(:checked) + label:nth-of-type(2) {
    display:block;
    position: relative;
    animation: 
        vliegNaarCirkel 1.5s ease-in forwards,
        rondjesVliegen 7s 1.5s linear infinite,
        dead 2s paused;
    user-select: none;

}


ul:nth-of-type(2) li label:nth-of-type(1):has(:checked) +  label:nth-of-type(2):has(:checked)  {
    animation-play-state: paused, paused, running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    filter: grayscale(1);
    filter: sepia(1);
    filter: hue-rotate(310deg);
    user-select: none;

}

/* Derde vogel */ 

ul:nth-of-type(3) label:nth-of-type(1):has(:checked) + label:nth-of-type(2) {
    display:block;
    position: relative;
    animation: 
        vliegNaarCirkel 1.5s ease-in forwards,
        rondjesVliegen 5s 1.5s linear infinite,
        dead 2s paused;
    user-select: none;

}


ul:nth-of-type(3) li label:nth-of-type(1):has(:checked) +  label:nth-of-type(2):has(:checked)  {
    animation-play-state: paused, paused, running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    filter: grayscale(1);
    filter: sepia(1);
    filter: hue-rotate(310deg);
    user-select: none;

}

main nav div p {
    position: absolute;
    z-index: 100;
    font-size: 1.6rem;
    pointer-events: none;
    margin: 0.25rem 0.43rem;
}

main nav div {
    position: relative;
    z-index: 99;
    top: 0;
    margin-left: auto;    
    margin-bottom: 2rem;
}

input[name="dayAndNight"] {
    appearance: none;
    aspect-ratio: 1;
    width: 2.5rem;
    background-color: rgb(80, 179, 255);
    margin: 0;
    position: absolute;
    top: 0;
    border-radius: 10rem;
    border: solid 0.1rem black;
    transition: 0.5s;
    background-image: url("./imgs/sun.png");
    background-size: contain;
    background-repeat: none;
    background-position: center;

}

input[name="dayAndNight"]:checked {
    appearance: none;
    aspect-ratio: 1;
    width: 2.5rem;
    background-color: rgb(30, 30, 68);
    margin: 0;
    position: absolute;
    top: 0;
    border-radius: 10rem;
    border: solid 0.1rem black;
    transition: 0.5s;
    background-image: url("./imgs/moon.png");
    background-size: contain;
    background-repeat: none;
    background-position: center;

}

html:has([name="dayAndNight"]:checked) main > div p {
    content: "";

}  


@keyframes movingClouds { 
    from {
        translate: 0 0;
    }
    to {
        translate: -5rem 0;
    }
}




@keyframes vliegNaarCirkel {
    100% {
        transform: translate(
            calc(50vw - var(--houseLeft)),
            calc(50vh - var(--radius) - var(--houseTop))
        );
        pointer-events: none;
    }
}

@keyframes rondjesVliegen {
    0% {
        transform: 
            translateX( calc(50vw - var(--houseLeft)) )
            translateY( calc(50vh - var(--houseTop)) )
            rotate(0deg)
            translateY( calc(var(--radius) * -1) );
            pointer-events: all;

    } 
    100% {
        transform: 
        translateX( calc(50vw - var(--houseLeft)) )
        translateY( calc(50vh - var(--houseTop)) )
        rotate(360deg)
        translateY( calc(var(--radius) * -1) );
        pointer-events: all;
    }
}



@keyframes spinning {

    to {
        offset-distance: 100%;
    }
}


@keyframes flyingHouse1 {
    0% {
        translate: -70vh -22vw;
    }

    100% {
        translate: 0 0rem;
    }
}


@keyframes dead {
    
    0%  {
        top: 0;
    }

    90% {
        top: 30vh;
        opacity: 0;
    }
    100%{
        display: none;
        top: 30vh;
        opacity: 0;
    }
    
}

@keyframes flyingHouse2 {
    0% {
        translate: -60vh -22vw;

    }

    100% {

        translate: 0 0rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media screen and (max-width: 768px) {

    ul {
        z-index: 999;
    }
    
    ul label:nth-of-type(1):has(:checked) + label:nth-of-type(2) {
        width: 2.5rem;
    }

    main > img:nth-of-type(4),
    main > img:nth-of-type(5),
    main > img:nth-of-type(6),
    main > img:nth-of-type(7),
    main > img:nth-of-type(8){
        width: 30%;
    }

    main > img:nth-of-type(9){
        translate: 0 15rem;
    }
    
    @keyframes vliegNaarCirkel {
        100% {
            transform: translate(
                calc(50vw - var(--houseLeft)),
                calc(50vh - var(--radius) - var(--houseTop)) /* Aanpassing van de verticale positie voor mobiele apparaten */
            );
        }
    }

    h1 {
        text-align: center;
        font-family: cloudy;
        color: rgb(207, 237, 255);
        font-size: 2rem;
        margin-top: 12rem;
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
        transition: 0.5s
    
    }

    @keyframes movingClouds { 
        from {
            translate: 0 0;
        }
        to {
            translate: 0rem 0;
        }
    }


    html:has( [ name="dayAndNight"]:checked) main > img:nth-of-type(9) {
        filter: contrast(10);
        filter: grayscale(1);
        left: 15%;
        width: 70%;
        top: 3%;
        transition: 1s 3s all;    
    }
    
}


html:has( [ name="dayAndNight"]:checked ) {
    --dayAndNight:night;
}

@container style(--dayAndNight:night) {
    body {
        background-color: rgb(0, 0, 66);
        transition: 1s 2s all;    
    }

    body::after{
		content:"";
		position:fixed;
		left:50%;
		top:50%;
		width:2px;
		aspect-ratio:1;
		background-color:#fff;
		border-radius:50%;
		box-shadow:
			-41vw -25vh 0 0 #ffff,
			-30vw -48vh 0 0 #ffff,
			-22vw  44vh 0 0 #ffff,
			-19vw  37vh 0 0 #ffff,
			 53vw -13vh 0 0 #ffff,
			 48vw -36vh 0 0 #ffff,
			 34vw  12vh 0 0 #ffff,
			 27vw -25vh 0 0 #ffff,
			 15vw -41vh 0 0 #ffff,
			-46vw  44vh 0 0 #ffff,
			-36vw -20vh 0 0 #ffff,
			-25vw  23vh 0 0 #ffff,
			-17vw -39vh 0 0 #ffff,
			 44vw -32vh 0 0 #ffff,
			 38vw -18vh 0 0 #ffff,
			 23vw  11vh 0 0 #ffff,
			 19vw -37vh 0 0 #ffff,
			-42vw  40vh 0 0 #ffff,
			-30vw -26vh 0 0 #ffff,
			-21vw  19vh 0 0 #ffff,
			-11vw  25vh 0 0 #ffff,
			 40vw  38vh 0 0 #ffff,
			 32vw  44vh 0 0 #ffff,
			 29vw -27vh 0 0 #ffff,
			 13vw -33vh 0 0 #ffff,
			-48vw -46vh 0 0 #ffff,
			-34vw -12vh 0 0 #ffff,
			-27vw  45vh 0 0 #ffff,
			-15vw -11vh 0 0 #ffff,
			 46vw -34vh 0 0 #ffff,
			 36vw  23vh 0 0 #ffff,
			 25vw  49vh 0 0 #ffff,
			 17vw -12vh 0 0 #ffff,
			-44vw  28vh 0 0 #ffff,
			-28vw -21vh 0 0 #ffff,
			-23vw  37vh 0 0 #ffff,
			-19vw -30vh 0 0 #ffff,
			 42vw -16vh 0 0 #ffff,
			 30vw  49vh 0 0 #ffff,
			 21vw -25vh 0 0 #ffff,
			 10vw  18vh 0 0 #ffff;
	
		filter:
			drop-shadow(19vw 23vh 0 #fff9)
			drop-shadow(-23vw -37vh 0 #fff9)
			drop-shadow(13vw 53vh 0 #fff9)
			drop-shadow(-59vw -11vh 0 #fff9)
			drop-shadow(67vw 17vh 0 #fff9);

        transition-delay: 2s all; 

        
	}
	

    main > img:nth-of-type(1) {
        bottom: -30rem;
        transition: 1s calc(var(--index) * 0.1s);
    
    }
    main > img:nth-of-type(2) {
        bottom: -30rem;
        transition: 1s calc(var(--index) * 0.1s);
    }

    main > img:nth-of-type(3) {
        bottom: -30rem;
        transition: 1s calc(var(--index) * 0.1s);
    }
    main > img:nth-of-type(4) {
        top: -10rem;
        transition: 1s calc(var(--index) * 0.1s);
    }
    main > img:nth-of-type(5) {
        top: -10rem;
        transition: 1s calc(var(--index) * 0.1s);
    }
    main > img:nth-of-type(6) {
        top: -10rem;
        transition: 1s calc(var(--index) * 0.1s);
    }

    main > img:nth-of-type(7) {
        top: -10rem;
        transition: 1s calc(var(--index) * 0.1s);
    }

    main > img:nth-of-type(8) {
        top: -10rem;
        transition: 1s calc(var(--index) * 0.1s);
    }

    main > img:nth-of-type(9) {
        filter: contrast(10);
        filter: grayscale(1);
        left: 25%;
        width: 50%;
        top: 3%;
        transition: 1s 3s all;    
    }
    ul:nth-of-type(1):hover ~ section {
        display: block;
        position: absolute;
        z-index: 999;
    }

    ul:nth-of-type(2):hover ~ section:nth-of-type(2) {
        display: block;
        position: absolute;
        z-index: 999;
        translate: 7rem 0;
    }

    ul:nth-of-type(3):hover ~ section:nth-of-type(3) {
        display: block;
        position: absolute;
        z-index: 999;
        translate: 14rem 0;
    }

    nav section p {
        pointer-events: none; 
        user-select: none;
    }

    
    nav section p {
        margin: 0;
        translate: 3rem 0;
        font-weight: 900;
        color: white;
        font-family: cloudy;
    }
    
    nav section p:nth-of-type(1) {
        margin: 0 0 0 1rem;
        translate: 3rem 0;
        font-weight: 900;
        color: white;
        font-size: 1.5rem;
        animation: fadeIn 1s 1s linear alternate-reverse infinite;
        opacity: 0;

    }
    
    nav section p:nth-of-type(2) {
        margin: 0 0 0 0.5rem;
        translate: 3rem 0;
        font-weight: 900;
        color: white;
        animation: fadeIn 1s 0.5s linear alternate-reverse infinite;
        opacity: 0;

    }
    
   nav section p:nth-of-type(3) {
        margin: 0;
        translate: 3rem 0;
        font-weight: 900;
        color: white;
        animation: fadeIn 1s 0.25s linear alternate-reverse infinite;
        opacity: 0;
    }

    main nav ul li label:first-of-type {
        pointer-events: none;
    }

    h1 {
        font-size: 5rem;
        transform-origin: center; 
        opacity: 0;
        pointer-events: none; 
        transition: 0.5s
    }

    main nav ul {
        filter: brightness(20%);
        transition: 1s 2.5s all;
     }
        

}


